@import "tailwindcss";


.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.font-grotesk {
  font-family: "Neue Haas Grotesk Display", sans-serif;
}
